*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
}

header{
background:#1f1f1f;
text-align:center;
padding:40px;
}

nav{
margin-top:20px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

section{
padding:50px 10%;
}

h2{
margin-bottom:20px;
color:#00d9ff;
}

.card{
display:inline-block;
background:#222;
padding:15px 30px;
margin:10px;
border-radius:10px;
transition:.3s;
}

.card:hover{
background:#00d9ff;
color:black;
}

.project{
background:#222;
padding:20px;
margin-top:20px;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:#1f1f1f;
margin-top:40px;
}